@{
    ViewBag.Title = "About";

    /*
* Name: Felipe Rincon
* Course: COMP-1281 C# Programming 3
* Created: 2024-01-13
* Updated: 2024-01-26

    <h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
*/

    /*
    * About Content modified following
    * the figure from the assignment.
    */
}


<h2>@ViewBag.Title.</h2>
<h3>BIT College Data Maintenance System.</h3>


<p>The BIT College system allows for entry and maintenance of College data.</p>
