@{
    ViewBag.Title = "Contact";

    /*
* Name: Felipe Rincon
* Course: COMP-1281 C# Programming 3
* Created: 2024-01-13
* Updated: 2024-01-26

    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
*/

    /*
    * Contact Content modified following 
    * the figure from the assignment.
    */

}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    160 Princess Street<br />
    Winnipeg, MB R3B 1K9<br />
    <abbr title="Phone">P:</abbr>
    204.632.2327
</address>
